@media (max-width:374px){
    .largeText{
      font-size: 12px !important;
    }
    .btn {
        border-radius: 18px;
        padding: 5px 22px;
        height: 36px;
        font-size: 14px;
    }
  }