body{
  font-family: $font-family-iransans;
  padding: 0px;
  margin: 0px;
  display: flex;
	flex-direction: column;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;


}
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
ul {
	padding: 0px;
	margin: 0px;
}
a{
  &:hover{
    text-decoration: none;
    color:$color-secondary;
    h1,h2,h3,h4,h5,h6{
      color:$color-secondary;
    }
  }
}